body{
    background-color: #FA8072;
}
header{
    background-color: aliceblue;

}
h1{
    font-style: oblique;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 3em;
}
h3{
    font-style: oblique;
    
}

