body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
    color: #333;
}

header {
    background: #0073e6;
    color: white;
    padding: 20px;
    text-align: center;
    position: relative;
}

.profile-pic {
    position: absolute;
    top: 10px;
    right: 20px;
    width: 80px;
    height: 80px;
    border-radius: 50%;
}

section {
    width: 80%;
    margin: 20px auto;
    padding: 20px;
    background: white;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
}

h2, h3 {
    color: #0073e6;
}

h1 {
    color:white;
}


ul {
    list-style-type: none;
    padding: 0;
}

ul li {
    background: #e6f2ff;
    margin: 5px 0;
    padding: 10px;
    border-radius: 5px;
}

dl {
    list-style-type: none;
    padding: 0;
}

dl dt {
    background: #e6f2ff;
    margin: 5px 0;
    padding: 10px;
    border-radius: 5px;
}



a {
    color: #0073e6;
    text-decoration: none;
    font-weight: bold;
    display: inline-flex;
    align-items: center;
    font-size: 24px;
    margin-right: 10px;
}

a i {
    margin-right: 8px;
}

a:hover {
    text-decoration: underline;
}
