body{
    background-color: black;
}
h1{
    color:white;
}
#p1{
    color: blue;
}
#p2{
    color:red;
}
#p3{
    color:aquamarine;
}
#p4{
    color:brown;
}
.odd{
    color:blue;
}
.even{
    color: fuchsia;
}